.App {
  text-align: center;
}


html,#root{
  min-width: 320px
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.title-card{
  background-color: #FFCA00;
  margin-top: 16px;
  text-align: center;
  height: 93%;
  width: auto;
  color: #FAFAFA;
}

.title-card>h1{
  margin-top: 30%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.image{
  margin: 1;
  max-height: 150px;
  width: auto;
}

.add-button{
  color: #ECECEC;
  font-size: 1em;
}

a{
  text-decoration: none;
}

.clickable:hover{
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inputHeight{
  height: 30px;
}

.imagePreview{
  height: 200px;
  width: auto;

}

body > div #vue{
  min-height: 100vh;
}

#logo h1>a {
  color: #FFCA00;
  text-shadow: #2d2d2d 1px 3px;
  background-color: #ECECEC;
  padding: 2px 4px 2px 0px;
  text-decoration: none;
}

.white{
  height: 20px;
  width: auto;
  margin-bottom: 5px;
  margin-right: 6px;
  filter: invert(96%) sepia(2%) saturate(1282%) hue-rotate(189deg) brightness(116%) contrast(96%);
}

#main-menu{
  min-height:80vh;
  height: 100%;
}

.separator{
  height: 2px;
  width: 150px;
  background-color: #FFCA00;
}

a:hover {
  cursor: pointer;
}

.card{
  height: 250px;
}

.card:hover{
  background-color: #5c5c5c !important;
}

@media only screen and (max-width: 666px) {
  .header > .large{
    display: none;
  }
}

@media only screen and (min-width: 666px) {
  .header > .small{
    display: none;
  }

  #burger-menu{
    display: none !important;
  }

  .header img{
    height: 30px;
  }
}


#burger-menu {
  display: none;
  top: 50px;
  height: 100px;
  left: 0;
  width: 100vw;
  z-index: 100;
}

div .product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div .product-title {
  width: 80%;
  font-size: 2rem;
}
div .product-card-image{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 75%;
}
div .product-card-image img{
width: 50%;
margin-right: 15px;
}

div .product-price {
  font-size: 2rem;
  padding: 10px;
  border-radius:15px ;
  width: 25%;
  min-width: fit-content;
  max-width: 200px;
  text-align: center;
  color: #282c34;
}

div .product-description{
  width: 80%;
}


div .cara.cara-check{
  display:  flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div .cara-number{
  border-radius: 10px;
  padding: 10px ;
  min-height: 80px;
}
div .cara {
  border-radius: 10px;
  padding: 10px ;
  min-height: 80px;
  display:  flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div .caras {
  padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 100px;
    grid-column-gap: 20px;
    grid-row-gap: 13px;
    justify-items: stretch;
    align-items: center;
}

div .cara-number{
  padding: 10px;
}

div .cara h4, div .cara p {
  vertical-align: middle;
  margin-bottom: 1px;
  margin-left: 10px;
  margin-right: 10px;
}

div .cara-check img{
  width: 40px;

}

.progress-bar-striped{
  color: #282c34; 
}

@media only screen and (max-width: 700px) {
  div .product-card-image{
    flex-direction: column;
  }
  div .product-price {
    font-size: 1rem;
  }
  div .product-card-image img{
    width: 100%;
  }

  div .caras {
    grid-template-columns: 1fr;
  }

}

@media only screen and (max-width: 767px) {
  .mediaQuery {
     padding-right: 3rem !important;
  }
  .subMediaQuery{
    padding-left: 0rem !important;
    margin-left: 0rem !important;
    padding-right: 1rem !important ;
    margin-top: 3rem !important;
  }

  .noDisplay{
    border-color: #2D2D2D !important;
  }

}

.login-input{
  min-width: 150px;

}

.nav-tabs .nav-link{
  color: #2D2D2D !important;
}

.active{
  color: #FFCA00 !important;
}
