.App {
  text-align: center;
}

.product-title-simple{
  transform: rotate(-90deg);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.image{
  height: 25vh;
  width: 12vw;
}

.add-button{
  color: #ECECEC;
  font-size: 1em;
}

a{
  text-decoration: none;
}

.clickable:hover{
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inputHeight{
  height: 30px;
}

.imagePreview{
  height: 200px;
  width: auto;

}

body > div #vue{
  min-height: 100vh;
}

#logo h1>a {
  color: #FFCA00;
  text-shadow: #2d2d2d 1px 3px;
  background-color: #ECECEC;
  padding: 2px 4px 2px 0px;
  text-decoration: none;
}

.white{
  height: 20px;
  width: auto;
  margin-bottom: 5px;
  margin-right: 6px;
  filter: invert(96%) sepia(2%) saturate(1282%) hue-rotate(189deg) brightness(116%) contrast(96%);
}

#main-menu{
  min-height:80vh;
  height: 100%;
}

.separator{
  height: 2px;
  width: 150px;
  background-color: #FFCA00;
}
a:hover {
  cursor: pointer;
}

.card{
  min-height: 237px;
}

div .product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div .product-title {
  width: 80%;
  font-size: 2rem;
}
div .product-card-image{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 75%;
}
div .product-card-image img{
width: 50%;
}

div .product-price {
  font-size: 2rem;
  padding: 10px;
  border-radius:15px ;
  width: 25%;
  min-width: fit-content;
  max-width: 200px;
  text-align: center;
}

div .product-description{
  width: 80%;
}

@media only screen and (max-width: 700px) {
  div .product-card-image{
    flex-direction: column;
  }
  div .product-price {
    font-size: 1rem;
  }
  div .product-card-image img{
    width: 100%;
  }

}