*, #wrapper { background-color: #2D2D2D; }

#menu {
    color: #FAFAFA;
    flex: 1;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #FFCA00;
    font-weight: 800;
    font-size: 3em;
}

#search {
    width: 20em;
    padding: 0.2em;
}

#form-wrapper {
    margin: 1em auto 0 auto;
    clear: both;
    overflow: hidden;
}

#elem-wrapper {
    display: block;
    float: left;
    margin-left: 5em;
    width: 15em;
    height: 5em;
}

#elem-wrapper > label {
    margin-right: 1em;
}

input[type="text"] {
    background-color: #FAFAFA;
    height: 1.2em;
    border-radius: 1%;
    margin-right: 5em;
}

input[type="file"] {
    height: 1.5em;
    color: red;
}

label {
    color: #FAFAFA;
    font-weight: bold;
    font-size: 1.2em;
}

select, option {
    background-color: #FAFAFA;
    width: 10em;
}

h2 {
    color: #FAFAFA;
    font-weight: 700;
    font-size: 2em;
}

h3 {
    color: #FFCA00;
    font-weight: 500;
    font-size: 1.5em;
}